[user]
	email = liangkx8237@gmail.com
	name = fengkx
	signingkey = 2C025B821032A446
[color]
	ui = true
[commit]
	gpgsign = false
[core]
	quotepath = false
	pager = diff-so-fancy | less --tabs=1,5 -R
	hooksPath = /Users/fengkx/.git-hooks
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[pull]
	rebase = true
[init]
	defaultBranch = master

[includeIf "gitdir:~/lowcode/"]
	path = ~/lowcode/.gitconfig-work

[includeIf "gitdir:~/me/code/"]
	path = "~/me/code/.gitconfig-me"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true

[alias]
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

